# Railway
PORT=8080
RAILWAY_SECRET_TOKEN=

# Aggilizador
AGGER_LOGIN=
AGGER_SENHA=

# Supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Anthropic
ANTHROPIC_API_KEY=

# Ambiente
NODE_ENV=production
LOG_LEVEL=info
